.heading {
  font-weight: bold;
  font-size: larger;
  margin-bottom: 20px;
}

.card {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 40px;
  height: 500px;
  width: 70%;
  background-color: rgb(255, 255, 255);
  border-radius: 35px;
  border: rgb(101, 66, 255) solid 3px;
}
.paragraph {
  font-size: large;
}

.svg {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
  .card {
    height: 350px;
  }
  .heading,
  .paragraph {
    font-size: medium;
    margin-bottom: 12px;
  }
}
