#packageTable {
  /* font-family: Arial, Helvetica, sans-serif; */
  border-collapse: collapse;
  /* width: 100%; */
}

#packageTable td,
#packageTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#packageTable tr:nth-child(even) {
  background-color: #cddddf;
}

#packageTable tr:hover {
  background-color: #ddd;
}

#packageTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #176cc7;
  color: white;
}
